<a href="https://colab.research.google.com/github/Leedonghoon1/21python/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%83%80%EC%9E%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **학습목표**
- 리스트(list)와 튜플(tuple)에 대해 이해하기
- 딕셔너리(dict)와 셋(set)에 대해 이해하기

### **리스트(list)와 튜플(tuple)**
- 여러 개의 값을 담을 수 있는 데이터 구조
- list : 생성한 후에 변경이 가능
- tuple: 생성한 후 변경 불가능

In [ ]:
a = ['컴네', 'A', '1학년', 10, 20, [2, 3]]
print(a)

['컴네', 'A', '1학년', 10, 20, [2, 3]]

In [ ]:
a = "hello comnet A!"
b = list(a)
print(b) #list()함수로 리스트 생성
# 다른 타입(문자열)을 리스트로 변환할 때 사용 가능

c = a.split() #문자열의 공백을 기준으로 리스트를 생성
d = a.split('I') #구분자(매개변수) 기준

print(b)
print(c)
print(d)

['h', 'e', 'l', 'l', 'o', ' ', 'c', 'o', 'm', 'n', 'e', 't', ' ', 'A', '!']
['h', 'e', 'l', 'l', 'o', ' ', 'c', 'o', 'm', 'n', 'e', 't', ' ', 'A', '!']
['hello', 'comnet', 'A!']
['he', '', 'o comnet A!']

##**리스트 indexting**

- [] 연산자를 이용해 항목을 가져온다.
- [I] : i번째 원소를 반환한다.
- i가 음수면, 마지막 원소에서 -1로 하여 가져온다.

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9 ,10]
print(a[0], a[2])
print(a[-1], a[-3], a[-9])
print(a[9])

1 3
10 8 2
10

### ** in 키워드**
- 리스트 내에 해당 값이 존재하는지
- True, False 중 한가지로 반환
- 값 in [list]

In [ ]:
a = [1,2,3,4,5,6,7]
b = 5
c = 10
d = b in a

print(d)
print(c in a)

True
False

**list 정렬**
- sort() : 리스트 자체를 내부적으로 정렬
- sorted(): 정렬된 리스트의 복사본을 반환

In [ ]:
a = [9, 2, 7, 8, 97, 28, 67, 75]
b = sorted(a)
print(a)

a.sort(reverse=True)
print(a)
print(b)

[9, 2, 7, 8, 97, 28, 67, 75]
[97, 75, 67, 28, 9, 8, 7, 2]
[2, 7, 8, 9, 28, 67, 75, 97]

## **튜플(Tuple)**
- 리스트와 같이 여러 개의 값을 갖는 데이터 컬렉션 타임
- 생성된 후 변경이 불가능

In [ ]:
a = [1,2,3]
b = (1,2,3,)

print(type(a))
print(type(b))

a[0]= 100
print(a)
#b[0]=100은 오류!
#print(b)

<class 'list'>
<class 'tuple'>
[100, 2, 3]

In [ ]:
a,b,c,d = 10, 20, 30, 40
print(a,b,c,d)

10 20 30 40

In [ ]:
a = 5
b = 4

#문제! a,b의 값을 교환하십시오.
#temp = a
#a = b
#b = temp
print(a,b)
a, b = b, a
print(a, b)

5 4
4 5