<a href="https://colab.research.google.com/github/Leedonghoon1/21python/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%83%80%EC%9E%85(dict%2Cset).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **학습목표**
- dictionaty.set에 대해 이해하기

**dictionary**
- 키와 값을 갖는 데이터 구조
- 키는 내부적으로hash값으로 저장

In [3]:
a = {'korea' : 'seoul',
     'canada':'ottawa',
     'usa':'washington D.C'}
d = {0:1, 1:6, 7:9, 8:10}

print(a)
print(a['korea'])
print(d[1])
print(d[0])

{'korea': 'seoul', 'canada': 'ottawa', 'usa': 'washington D.C'}
seoul
6
1

### **항목 추가 및 변경**
- 기존의 키가 존제하면, 새로운 값으로 업데이트
- 기준의 키가 없다면, 새로운 키값으로 생성

In [7]:
print(a)
a['japan'] = 'tokyo'
print(a)
a['japan'] = 'oaska'
print(a)
a['china'] = 'beijng'
print(a)

{'korea': 'seoul', 'canada': 'ottawa', 'usa': 'washington D.C', 'japan': 'oaska'}
{'korea': 'seoul', 'canada': 'ottawa', 'usa': 'washington D.C', 'japan': 'tokyo'}
{'korea': 'seoul', 'canada': 'ottawa', 'usa': 'washington D.C', 'japan': 'oaska'}
{'korea': 'seoul', 'canada': 'ottawa', 'usa': 'washington D.C', 'japan': 'oaska', 'china': 'beijng'}

- update()
- 두 딕셔너리를 병합
- 겹치는 키가 있다면, 전할되는 값으로 업데이트된다.

In [11]:
a = {'a':'apple', 'd' : 'danana', 'c' : 'car'}
b = {'b' : 'bus', 'c' : 'caramel', 'd' : 'dynamite', 'e' : 'education'}

a.update(b) #a와 b의 병합
print(a)

{'a': 'apple', 'd': 'dynamite', 'c': 'caramel', 'b': 'bus', 'e': 'education'}

key삭제
- del키워드
- pop 함수 이용

In [30]:
a = {'a':1, 'b':2 , 'c':3}
print(a)

del a['a']
print(a)

c = a.pop('c')
print(c)

{'a': 1, 'b': 2, 'c': 3}
{'b': 2, 'c': 3}
3

clear()
- 딕셔너리 값을 모두 초기화

In [22]:
a = {'a':1, 'b':2 , 'c':3}

a['add'] = 4
print(a)
a.clear()
print(a)

{'a': 1, 'b': 2, 'c': 3, 'add': 4}
{}

in
- key 값의 존재를 확인

In [26]:
a = {'a':1, 'b':2 , 'c':3}
print(2 in a)
print('a' in a)

False
True

- dict [key] 로 접근, 키가 존재하지 않을 경우에러
- .get() 함수로 접근해서 키가 없는경우에도 프로그램을 실행 -> None

In [27]:
a = {'a':1, 'b':2 , 'c':3}

print(a['a'])
print(a.get('d'))

1
None

모든 key와 값에 접근

- keys() : 키만 반환
-  values() : 값만 반환
- items() : 키와 값의 튜플을 반환

In [34]:
a = {'a':1, 'b':2 , 'c':3}
print(a)
print(list(a.keys()))
print(list(a.values()))
print(list(a.items()))

{'a': 1, 'b': 2, 'c': 3}
['a', 'b', 'c']
[1, 2, 3]
[('a', 1), ('b', 2), ('c', 3)]

set
- dictionary에서 key만 활용한 데이터 구조
- 중복이 허용되지 않는 구조

In [38]:
a = {5 , 2,3,4,6,4,1,2,3}
print(a)

{1, 2, 3, 4, 5, 6}

In [41]:
#리스트를 set으로 변경
a = [5 , 2,3,4,6,4,1,2,3]
print(a)

b = set(a)
print(b)

[5, 2, 3, 4, 6, 4, 1, 2, 3]
{1, 2, 3, 4, 5, 6}

In [47]:
a = {1,2,3}
b = {2,3,4}
c = a.union(b) #합집함
print(c)
d = a.intersection(b) #교집합
print(d)
e = a.difference(b)  #A-B 차집합
print(e)

{1, 2, 3, 4}
{2, 3}
{1}